@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

@font-face{
	font-family: "FonteLogo";
	src: url("../_fonts/bubblegum-sans-regular.otf");
}

/*Formatação dos paragráfos */

body{
	font-family: Arial, sans-serif;
	background-color: #dddddd;
	color: rgba(0,0,0,1);
}

div#interface{
	width: 900px;
	background-color: #ffffff;
	margin: -7px auto 10px auto; /*cima, direita, baixo e esuqerda*/
	box-shadow: 0px 0px 10px rgba(0,0,0,.5); /*lateral, vertical, espalhamento e cor*/
	padding: 10px 10px 10px 10px;
}

/* ------------------------------------------------------- */

header#cabecalho{
	border-bottom: 1px #606060 solid; /*Largura da borda, cor e tipo*/
	height: 150px; /*altura do cabeçalho*/
	background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 90px; /*gambiarra para colocar uma imagem, largura e altura*/
}

header#cabecalho img#icone{
	position: absolute;
	left: 965px;
	top: 95px;
}

#cabecalho h1{
	font-family: 'FonteLogo', sans-serif;
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	margin-bottom: 0px;
}

#cabecalho h2{
	font-family: 'Titillium Web', sans-serif;
	color: #888888;
	font-size: 15pt;
	margin-top: 0px;
}

/* ------------------------------------------------------- */

p {
	text-indent: 50px;
	text-align: justify;
}

a {
	color: #606060;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* ------------------------------------------------------- */

/*Formatação do menu*/

/* ------------------------------------------------------- */

nav#menu {
	display: block; /*Um bloco pode flutuar pela tela*/
}

nav#menu ul {
	list-style: none; /*Tirando a bolinha de marcador da lista UL*/
	text-transform: uppercase; /*Colocando todas as letras em maiúsculo*/
	position: absolute; /*Para que possa andar por toda a tela e não só na estrutura que a retem*/
	/*Com absolute também pode configurar a posição de determinada estrutura ou item, com top e left*/
	top: -17px;
	left: 475px;
}

nav#menu li {
	display: inline-block; /*Colocando os intens da lista em blocos*/
	background-color: #dddddd;
	padding: 10px; /*Cria um espaço de dentro para fora, no caso de 10 pixels*/
	margin: 2px; /*Cria uma margem da borda do item para fora*/
	transition: background-color 1s; 
}

nav#menu li:hover {
	background-color: #606060;
}

nav#menu a {
	color: #000000;
	text-decoration: none;
}

nav#menu a:hover {
	color: #ffffff;
}

nav#menu h1 {
	display: none; /*Escondendo o título, não deve aparecer mas precisa constar no código, faz diferença para os buscadores*/
}

/* ------------------------------------------------------- */

section#corpo {
	display: block;
	width: 500px;
	float: left;
	padding-right: 15px;
	border-right: 1px solid #606060
}

article#noticia-principal h2 {
	font-size: 13pt;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
}

/* ------------------------------------------------------- */

header#cabecalho-artigo h1 {
	font-family: 'FonteLogo', sans-serif;
	color: #606060;
	font-size: 20pt;
	margin-bottom: 0px;
	margin-top: 0px;

}

header#cabecalho-artigo h2 {
	font-size: 13pt;
	color: #cecece;
	background-color: #ffffff;
	margin: 0px;
}

.direita{
	text-align: right;
}

header#cabecalho-artigo h3 {
	font-size: 12px;
	color: #606060;
}

/* ------------------------------------------------------- */

figure.foto-legenda{
	position: relative;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
	/*para trás, para baixo, espalhamento e cor da sombra*/
}

figure.foto-legenda img{
	width: 100%;
	height: 100%;
}

figure.foto-legenda figcaption{
	opacity: 0;
	position: absolute;
	top:0px;
	background-color: rgba(0,0,0,.4);
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s;
}

figure.foto-legenda:hover figcaption{ opacity: 1; }

/* ------------------------------------------------------- */

table#tabelaspec {
	border: 1px solid #606060;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}

table#tabelaspec td {
	border: 1px solid #606060;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}

table#tabelaspec td.ce {
	color: #ffffff;
	background-color: #606060;
	vertical-align: top;
	font-weight: bold;
}

table#tabelaspec td.cd {
	background-color: #cecece;
}

table#tabelaspec caption {
	color: #808080;
	font-size: 13pt;
	font-weight: bold;
}

table#tabelaspec caption span{
	color: #808080;
	font-size: 8pt;
	display: block;
	float: right;
	margin-top: 10px;
}

/* ------------------------------------------------------- */

aside#lateral {
	display: block;
	width: 350px;
	float: right;
	background-color: #dddddd;
	padding: 10px;
	margin-top: 15px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

aside#lateral h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-top: 0px;
}

aside#lateral h2 {
	background-color:#606060;
	font-size: 15pt;
	color: #ffffff;
	padding: 9px;
}

aside#lateral video#filme2{
	width: 300px;
}

/* ------------------------------------------------------- */

footer#rodape {
	border-top: 1px solid #606060;
	clear: both;
}

footer#rodape p {
	text-align: center;
}